@model IEnumerable<ApplicationPortal.Models.Application>

@{
    ViewBag.Title = "Careers";
}

<h2>Current Openings</h2>

<h3>Software Engineer 1</h3>

<p>Hello from our View Template!</p>

<p>
    @Html.ActionLink("Apply", "Create")
</p>

